{% extends "BotLaHug/layout.html" %}

{% block sidebar %}
<!-- Tools Section -->
<h4>Class Tools</h4>
<ul class="list-group mb-4">
    <li class="list-group-item button"><a href="/club/{{ name }}/class/athlete/register/{{ athlete.athlete_id }}">Register to classes</a></li>
</ul>
{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <!-- Athlete Profile Picture -->
            <img src="../../../{{ athlete.profile_picture }}" alt="{{ athlete.first_name }} {{ athlete.last_name }} profile" class="img-fluid rounded-circle shadow-sm">

        </div>
        <div class="col-md-8">
            <h1 class="display-4">{{ athlete.first_name }} {{ athlete.last_name }}</h1>
            <p class="lead text-muted">Athlete ID: {{ athlete.athlete_id }}</p>

            <ul class="list-group mb-4">
                <li class="list-group-item"><strong>Date of Birth:</strong> {{ athlete.dob }}</li>
                <li class="list-group-item"><strong>Email:</strong> <a href="mailto:{{ athlete.email }}">{{ athlete.email }}</a></li>
                <li class="list-group-item"><strong>Phone:</strong> <a href="tel:{{ athlete.phone }}">{{ athlete.phone }}</a></li>
            </ul>

            <h4>Parent/Guardian Information</h4>
            <ul class="list-group mb-4">
                <li class="list-group-item"><strong>Parent/Guardian Name:</strong> {{ athlete.parent_name }}</li>
                <li class="list-group-item"><strong>Parent/Guardian Phone:</strong> <a href="tel:{{ athlete.parent_phone }}">{{ athlete.parent_phone }}</a></li>
            </ul>

            <h4>Home Address</h4>
            <ul class="list-group">
                <li class="list-group-item">{{ athlete.home_address }}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Registered Classes</h4>

            <!-- Current Season Classes -->
            {% for headline, regist in registration_data.items %}
            <h5>{{headline}}</h5>

            <ul class="list-group mb-4">
                {% for class_name, class_info in regist.items %}
                <li class="list-group-item">{{ class_name }} ({{ class_info.start_date }} - {{ class_info.end_date }})</li>
                {% endfor %}

            </ul>

            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
