{% extends "BotLaHug/layout.html" %}
<style>
    .schedule-table {
        width: 100%;
        text-align: center;
    }

    .class-box {
        padding: 10px;
        color: white;
        margin-bottom: 5px;
        border-radius: 5px;
    }
</style>
{% block content %}
<div class="mb-4" style="overflow: hidden; height: 20vh; ">
    <!-- Set container height to 20% of viewport and hide overflow -->
    <img src="../../../{{ details.photo.image }}" alt="{{ club_name }} logo" class="img-fluid rounded shadow-sm" style="width: 100%; object-fit: cover; opacity: 0.6; margin-top: -10%;">
</div>

<div class="container mt-5">
    <!-- Club Info Section -->
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4">{{ details.name }}</h1>
            <p class="lead text-muted">{{ details.description }}</p>
        </div>
    </div>

    <!-- Schedule Section -->
    <div class="row mt-5">
        {% include 'BotLaHug/features/schedule_feature.html' %}
    </div>

    <!-- Articles Section -->
    <div class="row mt-5">
        {%include 'BotLaHug/features/article_feature.html'%}
    </div>

    <!-- more features Section -->
    <div class="row mt-5">
        {% include 'BotLaHug/features/future.html'%}
    </div>
</div>


    {% endblock %}
