{% if user.is_authenticated %}
<div class="navbar-collapse collapse" id="viewsNav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">

        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/club/{{name}}/classes/">Classes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/club/{{name}}/athletes/">Athletes</a>
        </li>
    </ul>
</div>


{% else %}

<ul class="navbar-nav mr-auto">

    <li class="nav-item">
        <a class="nav-link" href="/club/{{name}}/athlete/">find athlete</a>
    </li>
</ul>

{% endif %}
