
<h2 class="mb-4">Schedule</h2>

<table class="table table-bordered schedule-table">
    <thead>
        <tr>
            <th>Time</th>
            {% for day in days_of_week %}
            <th>{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for time_slot, days in schedule_classes.items %}
        <tr>
            <td>{{ time_slot}}</td>  <!-- Correct display for time -->
            {% for day ,classes in days.items %}
            <td>
                {% for class_info in classes %}
                {% if class_info %}
                <a href="" style="text-decoration: none;">
                    <div class="class-box" style="background-color: {{ class_info.color }};">
                        <h4>{{ class_info.name }}</h4>
                        <p>
                            <strong>Time:</strong> {{ class_info.time }}<br>
                            <strong>Teacher:</strong> {{ class_info.teacher }}<br>
                            <strong>Location:</strong> {{ class_info.place }}
                        </p>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </td>

            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
