{% extends "BotLaHug/layout.html" %}

{% block content %}
<div class="mb-4" style="overflow: hidden; height: 30vh;">
    <img src="../../../../../{{ club_logo_url }}" alt="{{ club_name }} logo" class="img-fluid rounded shadow-sm" style="width: 100%; object-fit: cover; opacity: 0.6; margin-top: -10%;">
</div>

<div class="container mt-5">
    <h2>{{ is_editing|yesno:"Edit Class,Add New Class" }}</h2>

    <form method="post" class="mt-4">
        {% csrf_token %}


        <div class="form-row">
            {{ form.as_p }}
        </div>

        <button type="submit" class="btn btn-primary mt-4">Save Class</button>
    </form>
</div>
{% endblock %}
